.head {
    display: flex;
    justify-content: space-between;
    position: absolute;
    z-index: 200;
    top: 0;
    background-color: #0a383d;
    width: 100%;
    height: 35px;
    align-items: center;
    .right-block {
        .dropdown {
            position: relative;
            display: flex;
            align-items: center; 
            &:hover{
                .dropdown-content {
                    display: block;
                }
                .dropbtn {
                    color: $default-yellow;
                }
            }
               .dropbtn {
               color: white;
               font-size: 14px;
               border: none; 
              }
              .dropdown-content {
                top: 34px;
                right: -55px;
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1; 
                 a {
                     color: black;
                     padding: 7px 16px;
                     text-decoration: none;
                     display: block;
                     font-size: 14px;
                     &:hover {background-color: #ddd;}
                   }
              }
              .drop-icon {
                width: 15px;
                margin: 5px;
               }
          }
    }
    .left-block {
        display: flex; 
        .lists{
            margin-right: 35px;
            a {
                color: $default-white;
                transition: 0.3s;
                font-size: 14px;
                align-items: center;
                display: flex;
                margin-left: 0px; 
                span {
                    margin-left: 10px;
                    margin-top: 1px;
                }
                img {
                    width:15px;
                    cursor: pointer;
                }
                &:hover{
                    color: $default-yellow;
                    transition: 0.3s;
                }
            }
        }
    }
}

