<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{element.position}} </td>
    </ng-container>
  
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef> Weight </th>
      <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
    </ng-container>
  
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> Symbol </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  


  <div class="example-container">
      <mat-form-field>
        <input matInput placeholder="Input">
      </mat-form-field>
    
      <mat-form-field>
        <textarea matInput placeholder="Textarea"></textarea>
      </mat-form-field>
    
      <mat-form-field>
        <mat-select placeholder="Select">
          <mat-option value="option">Option</mat-option>
          <mat-option value="option">saad</mat-option>
          <mat-option value="option">Opsdstion</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  


    <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder="Choose a date">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>


      <mat-checkbox>Check me!</mat-checkbox>


      <mat-tab-group>
          <mat-tab label="First"> Content 1 </mat-tab>
          <mat-tab label="Second"> Content 2 </mat-tab>
          <mat-tab label="Third"> Content 3 </mat-tab>
          <mat-tab label="Fourth"> Content 4 </mat-tab>
        </mat-tab-group>

        <div class="main">
            <h1>item list</h1>
            <div class="additem">
              <input [(ngModel)]="newItem" placeholder="add item" class="addtext">
              <button class="add-button" (click)="pushItem()"><i class="material-icons">add</i></button>
            </div>
            <ul >
              <li class="ts"  [class.active]="selectedIndex === ind"
               *ngFor="let i of items; let ind = index"
               (click)="setIndex(ind)">
                {{i}}
                <span (click)="deleteItem(ind)" style="color:red;" ><i class="material-icons">delete</i></span>
              </li>
            </ul>
          </div>



          <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()" class="form">
            <div>
                <label for="fullname">fullname</label>
                <input type="text" id="fullname" formControlName="fullName">
            </div>
            <div>
                <label for="email">email</label>
                <input type="text" id="email" formControlName="email">
            </div>
          
            <div forgGroupName="skills">
              <div class="form-group">
                  <div class="label">
                      <label for=""> skills</label>
                    </div>
                    <input type="text" formControlName="skillName">
                    <input type="text" formControlName="experianceInYears">
              </div>
                <div class="form-group">
                  <label for="">proficiency</label>
                  <input type="radio" name="gender" value="begginer" formControlName="proficiency"> begginer<br>
                  <input type="radio" name="gender" value="intermediate" formControlName="proficiency"> intermediate<br>
                  <input type="radio" name="gender" value="advanced" formControlName="proficiency"> advanced<br>  
                </div>
              </div>
          
            <div class="footer">
              <button class="btn" type="submit">save</button>
            </div>
          </form>
          
          
          
          <table>
            <tr>
              <th>formGroup</th>
              <th>formControl</th>
            </tr>
            <tr>
                  <td style="padding:10px;border: 1px solid black">
                      touched: {{employeeForm.touched}}
                      <br>dirty: {{employeeForm.dirty}}
                      <br>valid: {{employeeForm.valid}}
                      <br> form values: {{employeeForm.value | json}}
                  </td>
                  <td style="padding:10px;border: 1px solid black">
                    touched: {{employeeForm.get('fullName').dirty}}
                    <br>dirty: {{employeeForm.get('fullName').dirty}}
                    <br>valid: {{employeeForm.get('fullName').valid}}
                    <br>full name value: {{employeeForm.get('fullName').value}}
                  </td>
            </tr>
          </table>