@font-face {
  font-family: 'HelveticaNeueLTGEO-55Roman';
  src: url('HelveticaNeueLTGEO-55Roman.eot');
  src: url('HelveticaNeueLTGEO-55Roman.eot?#iefix') format('embedded-opentype'),
       url('HelveticaNeueLTGEO-55Roman.svg#HelveticaNeueLTGEO-55Roman') format('svg'),
       url('HelveticaNeueLTGEO-55Roman.ttf') format('truetype'),
       url('HelveticaNeueLTGEO-55Roman.woff') format('woff'),
       url('HelveticaNeueLTGEO-55Roman.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

