@import '../variable.scss';
.banner-section {
    .left__side {
        min-height: 500px;
        background-image: url(./../img/Image.svg);
        background-color: #616971;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
    }

    .right__side {
        background-color: #616971;
        padding: 31px 18px 24px 36px;
        .blocks {
            .block {
                position: relative;
                .left {
                    // background-image: url(./../img/IMG.svg);

                }

                &:hover {
                    .button {
                        background-color: $red !important;
                        color: $white !important;
                        transition: 0.3s;
                    }
                    &::before{
                        max-height: 50%;
                        transition: 0.3s;
                    }
                }
                &::after {
                    content: '';
                    background-color: $white;
                    height: 100%;
                    width: 3px;
                    position: absolute;
                    z-index: 20;
                    border-radius: 20px;
                    left: -5px;
                    top: 0;
                }
                &::before {
                    content: '';
                    background-color: $red;
                    height: 100%;
                    max-height: 0;
                    width: 3px;
                    position: absolute;
                    z-index: 25;
                    border-radius: 20px;
                    left: -5px;
                    top: 0;
                    transition: 0.3s;
                }
            }
        }
    }
}