@import '../mixin.scss';
@import '../variable.scss';

.select {
    padding-left: 10px;
    border: 1px solid #E2E2E2;
    transition: 0.2s;
    position: relative;
    width: 200px;
    height: 40px;
    appearance: none;
    background-image: url(https://stackoverflow.com/favicon.ico);
    background-position: right 50%;
    background-repeat: no-repeat;

    &::after {
        content: '';
        position: absolute;
        background-color: red;
        width: 20px;
        height: 20px;
        z-index: 11111;
    }

    &:focus {
        border-color: #eff4ff !important;
        transition: 0.2s;
    }
}

body {
    padding-top: 80px;
    min-height: calc(100vh - 480px);
}

.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid $border;

    .header__block {
        &.center {
            max-width: 1280px;
        }
    }
}
.mini__header {
    .nav-header,
    .nav__a {
        height: 60px !important;
        white-space: nowrap;
    }
    .nav-header {
        max-width: 1088px;
        width: 100%;
    }
}

.nav-header {
    height: 80px;

    .list {
        .nav__a {
            display: flex;
            align-items: center;
            position: relative;
            text-decoration: none;
            cursor: pointer;
            height: 80px;
            font-size: 14px;

            .drop__icon {
                transform: rotate(-90deg);
                transition: 0.3s;
            }

            &:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 0;
                opacity: 0;
                position: absolute;
                background: $blue;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 100%;
            }

            &:hover {
                .drop__icon {
                    .path {
                        fill: $blue;
                        transition: 0.3s;
                    }
                }

                &:after {
                    opacity: 1;
                    transition: width 0.3s ease 0s, left 0.3s ease 0s;

                }
            }

            &.active {
                color: $black;

                &:hover {
                    color: $blue;
                }
            }
        }
    }

    .right_ul {
        .right__list {
            position: relative;

            .numbering {
                position: absolute;
                right: -8px;
                top: -4px;
                background-color: $orange;
                width: 16px;
                height: 16px;
                border-radius: 50%;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center
            }
        }
    }
}

.home__block {
    min-height: 500px;

    .title {
        position: relative;
        padding-right: 45px;

        .icon {
            position: absolute;
            z-index: 11;
            right: 0;
            bottom: 0;
        }
    }
}

.footer {
    min-height: 400px;

    .up__side {
        min-height: 320px;
    }

    .down__side {
        min-height: 80px;
        background-color: #FAFAFA;
    }
}

.mail__form {
    .mail__input {
        border: 1px solid #E0E0E0;
        height: 40px;
        border-radius: 8px;
        padding-left: 15px;
        padding-right: 35px;
    }

    .icon {
        position: absolute;
        right: 15px;
        top: 12px;
        z-index: 111;
    }
}

.premiup__prizes {
    // padding: 100px 0;

    .left__side {
        .block {
            height: 160px;
            border: 1px solid $border;
            border-radius: 8px;

            img {
                max-width: 80%;
            }
        }
    }
}

.courses__main {
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;

    .block {
        .inside__block {
            border-radius: 8px;
            box-shadow: 0px 0px 10px #0000001A;
        }
    }
}

.like__remove {
    position: relative;
    color: $light-text !important;
    font-size: 20px;
    &::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        background-color: $light-text;
        top: 50%;
        left: 0;
    }
}

.popular__courses {
    // padding: 60px 0 !important;

    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;

        .block {

            .up__side,
            .img-block {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                min-height: 190px;
            }

            .down__side {
                background-color: $white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            &:nth-child(2) {
                .left__side {
                    border-color: $orange;
                }
            }

            &:nth-child(3) {
                .left__side {
                    border-color: $purple;
                }
            }

        }
    }
}

// .academy__section,
// .master__class,
// .student__works,
// .finished__courses,
// .block__section {
//     padding: 100px 0;
// }

.finished__courses {
    .course-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;

        .block {
            background-color: #F5F5F5;
            border-radius: 8px;
            max-width: 340px;
            transition: 0.3s;

            &:nth-child(2) {
                margin: 0 10px;

                background-color: $white;
                transform: scale(1.07);
                box-shadow: 0px 0px 10px #0000001A;
                transition: 0.3s;

                span {
                    color: $card-text;
                    transition: 0.3s;
                    font-size: 14px;
                    line-height: 20px;
                }
                .name {
                    color: $black;
                }
            }
        }
    }
}

.block__section {
    .block {
        transition: 0.3s;

        &:hover {
            transform: scale(1.07);
            box-shadow: 0px 0px 10px #0000001A;
            transition: 0.3s;
        }
    }
}

.card {
    border: none !important;
    position: relative;

    .card-header {
        background-color: initial !important;
        border: none !important;
    }
}

.scrolled-mobile {
    overflow: hidden;
    position: relative;

    // height: calc(100% + 20px);
    .scroll {
        height: calc(100% + 20px);
        overflow: auto;

    }
}

.scroll-block {
    min-width: 240px;
}

.scroll-parent {
    width: 100%;
    height: 100%;
    overflow: initial;

    .scroll-child {
        height: 100%;
        // width: calc(100% + 40px);
        margin-bottom: -20px;
        padding-bottom: 40px;
        padding-top: 30px;
        overflow: initial !important;
        // padding: 40px;
    }
}

.filter__block {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-column-gap: 30px;
    &.collapse,
    &.collapsing {
        max-height: 0px;
        opacity: 0;
        transition: 0.3s;
    }

    // &.collapsed,
    &.show {
        max-height: 400vh;
        opacity: 1;
        transition: 0.3s;

    }
}

.filter__place {
    .filter-a {
        padding: 10px 15px;
        @extend .helvetica-55;
        word-break: keep-all;
        &.active {
            color: #424242;
            background-color: #F3F3F4;
            border-radius: 8px;
            @extend .helvetica-75;
        }
    }
}

.sale__overlay {
    width: calc(100% - 30px);

}

.master-class {
    .block {

        .sale__overlay {
            z-index: 11;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }

        &.sale {
            .sale__overlay {
                z-index: 11;
                opacity: 1;
                visibility: visible;
                transition: 0.3s;

                img {
                    max-width: 280px;
                }
            }
        }
    }
}

.prizes {
    .number {
        width: 75px;
        min-width: 75px;
        height: 74px;
        height: 74px;
        border-radius: 50%;
    }
}

.search-row {
    transform: rotate(180deg);
    right: 0;
    top: 13px;
}

.numbering-cart {
    position: absolute;
    background-color: #FF5D31;
    border-radius: 50%;
    font-size: 10px;
    width: 13px;
    height: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    right: -5px;
    top: -3px;
}

.home_blocks {
    .block {
        transition: 0.3s;

        &:hover {
            transition: 0.3s;
            transform: scale(1.05);
        }

        // padding-top: 30px;

        // .down__side {
        //     transition: 0.3s;
        // }

        // &:hover {
        //     padding-top: 0px;

        //     // transform: translateY(-20px);
        //     // background-color: red;
        //     .down__side {
        //         transition: 0.3s;
        //         // min-height: 355px;
        //         padding-top: 30px !important;
        //         padding-bottom: 30px !important;
        //     }
        // }
    }
}

.teams__section {
    .team-block {
        box-shadow: 0px 0px 10px #0000001A;

        .block {
            position: relative;

            &:not(:last-child) {
                &::after {
                    position: absolute;
                    height: 50%;
                    width: 2px;
                    background-color: $border;
                    content: '';
                    right: -1px;
                    top: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &.active {
            display: flex;
        }
    }
}

.course2_finish {
    position: relative;

    &::after {
        position: absolute;
        background-image: linear-gradient(to right, $white, transparent, white);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        pointer-events: none;
    }
}

.course_2-block {

    // position: relative;
    .coure_2 {
        background-image: url(../img/academyc.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        min-height: 210px;
        cursor: pointer;

        p {
            opacity: 0;
            transition: 0.3s;
        }

        &:hover {
            p {
                opacity: 1;
                transition: 0.3s;
            }
        }
    }

}

.bdr {
    .row-left {
        // background-image: url('../img/back.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 15px;
        height: 30px;
        content: '';
        position: absolute;
        top: 55%;
        right: 30px;
        transform: translateY(50%) rotate(180deg);
        cursor: pointer;
        z-index: 111;
    }

    .row-right {
        // background-image: url('../img/back.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        width: 15px;
        height: 30px;
        content: '';
        position: absolute;
        top: 55%;
        left: 30px;
        transform: translateY(50%);
        cursor: pointer;
        z-index: 111;
    }

    &.stay__home {

        .row-left,
        .row-right {
            top: 50% !important;
        }

        .row-right {
            transform: translateY(-50%);

        }

        .row-left {
            transform: translateY(-50%) rotate(180deg);

        }
    }
}

.offers__section {
    .block {
        position: relative;
        box-shadow: 0px 0px 10px #0000001A;
        max-width: 530px;
        width: 100%;

        .bottom__img {
            position: absolute;
            left: 50%;
            bottom: -58px;
            transform: translateX(-50%);
            z-index: 40;
        }
    }
}

.slider-section {
    display: flex;
    align-items: center;
    padding: 30px 0 18px 0;

    .ball {
        background-color: #A6A7AC;
        width: 7px;
        height: 7px;
        margin: 0 9px;
        border-radius: 50%;
        transition: 0.2s;

        &.active {
            background-color: #6595FF;
            width: 10px;
            height: 10px;
            transition: 0.2s;
        }
    }
}

.cart-menu {
    position: fixed;
    top: 0;
    right: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    // height: calc(100vh - 80px);
    max-width: 0px;
    transition: 0.3s;
    background-color: initial;
    z-index: 1000;

    &.active {
        max-width: 100%;
        overflow: visible;
        transition: 0.3s;
        background-color: rgba(0, 0, 0, 0.7);
    }

    .cart-aside {
        width: 100%;
        max-width: 380px;
        height: 100%;
        background-color: #F5F9FF;
        overflow: auto;

        .cart__body {
            height: calc(100% - 24px);

            .block {
                height: 155px;
            }
        }
    }
}

.text__c {
    border-width: 4px;
    border-right-style: solid;
}
.text__c__left {
    border-width: 7px;
    border-left-style: solid;
}

.scroll__overlay {
    width: 100%;
    height: 17px;
    position: absolute;
    bottom: 0;
    left: 0;
    display: block !important;
    z-index: 9999;
}

.modal-section {
    max-width: 700px !important;
}

.indicators {
    .childs {
        min-height: 160px;
    }

    .rows {
        background: rgba(0, 0, 0, 0.8);
        height: 100%;
        width: 35px;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .row-right {
        top: 0;
        right: 0;
    }

    .row-left {
        top: 0;
        left: 0;
    }
}

.background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.carousel-item {
    .childs {
        height: 500px;
        background-size: 100% !important;
    }
}

.work-items {
    .block {
        box-shadow: 0px 0px 10px #0000001A;

    }
}

.color-block {
    max-width: 100px;
    min-width: 70px;
}

.lector {
    .img-block {
        border-radius: 50%;
    }

    .fade:not(.show) {
        opacity: 0;
        display: none !important;
    }
}

.sub__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 99999;
    width: 100%;
    padding-top: 10px;

    .sub__block {
        max-width: 500px;
    }

    height: 80px;

    .block {
        &:hover {
            .sub__icon {
                .path {
                    fill: $blue;
                }
            }

            .sub__text {
                color: $blue;
            }
        }
    }
}

.vlog_iiner {
    .border-center {
        position: relative;
        min-height: 700px;

        &::after {
            position: absolute;
            content: '';
            background-color: $border;
            left: 50%;
            transform: translateX(-50%);
            top: 0;
            width: 1px;
            height: 100%;
        }
    }
}

.details {
    .section {
        max-width: 1088px;
        margin: 0 auto;
    }
}

.hover-imgs {
    .before {
        width: 30px;
        height: 30px;
        display: block;
        transition: 0.3s;
    }

    .after {
        width: 30px;
        height: 30px;
        display: none;
        transition: 0.3s;
    }
    &:hover {
        .before {
            display: none;
            transition: 0.3s;
        }
        .after {
            display: block;
            transition: 0.3s;
        }
    }
}