@import '../mixin.scss';
@import '../variable.scss';

.select {
    padding-left: 10px;
    border: 1px solid #E2E2E2;
    transition: 0.2s;
    position: relative;
    width: 200px;
    height: 40px;
    appearance: none;
    background-image: url(https://stackoverflow.com/favicon.ico);
    background-position: right 50%;
    background-repeat: no-repeat;

    &::after {
        content: '';
        position: absolute;
        background-color: red;
        width: 20px;
        height: 20px;
        z-index: 11111;
    }

    &:focus {
        border-color: #eff4ff !important;
        transition: 0.2s;
    }
}

body {
    padding-top: 80px;
    min-height: calc(100vh - 480px);
}

.header {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $white;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid $border;
    .header__block {
        &.center {
            max-width: 1280px;
        }
    }
}
.nav-header {
    height: 80px;
    .list {
        .nav__a {
            display: flex;
            align-items: center;
            position: relative;
            text-decoration: none;
            cursor: pointer;
            height: 80px;

            &:after {
                background: none repeat scroll 0 0 transparent;
                bottom: 0;
                content: "";
                display: block;
                height: 2px;
                left: 50%;
                position: absolute;
                background: $blue;
                transition: width 0.3s ease 0s, left 0.3s ease 0s;
                width: 0;
            }

            &:hover:after {
                width: 100%;
                left: 0;
            }
        }

    }

    .right_ul {
        .right__list {
            position: relative;

            .numbering {
                position: absolute;
                right: -8px;
                top: -4px;
                background-color: $orange;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                font-size: 12px;
                display: flex;
                align-items: center;
                justify-content: center
            }
        }
    }
}

.home__block {
    min-height: 500px;

    .title {
        position: relative;
        padding-right: 45px;

        .icon {
            position: absolute;
            z-index: 11;
            right: 0;
            bottom: 0;
        }
    }
}

.footer {
    min-height: 400px;

    .up__side {
        min-height: 320px;
    }

    .down__side {
        min-height: 80px;
        background-color: #FAFAFA;
    }
}

.mail__form {
    .mail__input {
        border: 1px solid #E0E0E0;
        height: 40px;
        border-radius: 10px;
        padding-left: 15px;
        padding-right: 35px;
    }

    .icon {
        position: absolute;
        right: 15px;
        top: 12px;
        z-index: 111;
    }
}

.premiup__prizes {
    padding: 100px 0;

    .left__side {
        .block {
            height: 160px;
            border: 1px solid $border;
            border-radius: 10px;

            img {
                max-width: 80%;
            }
        }
    }
}

.courses__main {
    grid-column-gap: 0px !important;
    grid-row-gap: 0px !important;

    .block {
        .inside__block {
            border-radius: 10px;
            box-shadow: 1px 3px 8px 6px rgba(0, 0, 0, .14);
        }
    }
}

.popular__courses {
    padding: 60px 0;

    .main {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;

        .block {

            .up__side,
            .img-block {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                min-height: 190px;
            }

            .down__side {
                background-color: $white;
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;

                .bottom {
                    .left__side {
                        border-left: 5px solid $blue;

                        .like__remove {
                            position: relative;
                            color: $light-text;

                            &::after {
                                position: absolute;
                                content: '';
                                width: 100%;
                                height: 1px;
                                background-color: $light-text;
                                top: 50%;
                                left: 0;
                            }
                        }
                    }
                }
            }

            &:nth-child(2) {
                .left__side {
                    border-color: $orange;
                }
            }

            &:nth-child(3) {
                .left__side {
                    border-color: $purple;
                }
            }

        }
    }
}

.academy__section,
.master__class,
.student__works,
.finished__courses,
.block__section {
    padding: 100px 0;
}

.finished__courses {
    .course-block {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(auto, 1fr);
        grid-column-gap: 30px;
        grid-row-gap: 20px;

        .block {
            background-color: #F5F5F5;
            border-radius: 10px;
            max-width: 340px;
            transition: 0.3s;

            &:hover {
                background-color: $white;
                transform: scale(1.07);
                box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.14);
                transition: 0.3s;

                span {
                    color: $black;
                    transition: 0.3s;

                }
            }
        }
    }
}

.block__section {
    .block {
        transition: 0.3s;

        &:hover {
            transform: scale(1.07);
            box-shadow: 1px 1px 6px 3px rgba(0,0,0,0.14);
            transition: 0.3s;
        }
    }
}

.card {
    border: none !important;
    position: relative;

    .card-header {
        background-color: initial !important;
        border: none !important;

        // .btn {
        //     &::after {
        //         width: 40px;
        //         content: '';
        //         position: absolute;
        //         height: 40px;
        //         appearance: none;
        //         // background-color: red;
        //         background-image: url('../../img/Path.svg');
        //         background-position: right 50%;
        //         background-repeat: no-repeat;
        //         top: 0;
        //         right: 20px;
        //         transform: translate(-50%, -50%);
        //         transition: 0.3s;
        //         z-index: 100;
        //     }

        //     &.collapsed {
        //         &::after {
        //             transform: translate(-50%, -50%) rotate(180deg);
        //             transition: 0.3s;
        //         }
        //     }
        // }
    }
}

.scrolled-mobile {
    overflow: hidden;
    position: relative;

    // height: calc(100% + 20px);
    .scroll {
        height: calc(100% + 20px);
        overflow: auto;

    }
}

.scroll-block {
    min-width: 240px;
}

.scroll-parent {
    width: 100%;
    height: 100%;
    overflow: hidden;

    .scroll-child {
        height: 100%;
        // width: calc(100% + 40px);
        margin-bottom: -20px;
        padding-bottom: 40px;
        padding-top: 30px;
        // padding: 40px;
    }
}

.filter__block {

    &.collapse,
    &.collapsing {
        max-height: 0px;
        opacity: 0;
        transition: 0.3s;
    }

    // &.collapsed,
    &.show {
        max-height: 400vh;
        opacity: 1;
        transition: 0.3s;

    }
}

.filter__place {
    .filter-a {
        padding: 10px 15px;
        @extend .helvetica-55;

        &.active {
            color: #424242;
            background-color: #F3F3F4;
            border-radius: 10px;
            @extend .helvetica-75;
        }
    }
}

.sale__overlay {
    width: calc(100% - 30px);

}

.master-class {
    .block {

        .sale__overlay {
            z-index: 11;
            opacity: 0;
            visibility: hidden;
            transition: 0.3s;
        }

        &.sale {
            .sale__overlay {
                z-index: 11;
                opacity: 1;
                visibility: visible;
                transition: 0.3s;
                img {
                    max-width: 280px;
                }
            }
        }
    }
}
.prizes {
    .number {
        width: 75px;
        min-width: 75px;
        height: 74px;
        height: 74px;
        border-radius: 50%;
    }
}