@media only screen and (max-width: 990px) {
    .header {
        height: 50px !important;

        .logo {
            width: 80px;
        }
    }

    body {
        padding-top: 50px !important;
    }
}

@media only screen and (max-width: 768px) {
    .academy__section {
        background-image: url('../img/academyc.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
    }
    .f-30 {
        font-size: 24px !important;
    }
    .f-24 {
        font-size: 16px !important;
    }
    .f-16 {
        font-size: 14px !important;
    }
}