@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body { 
  margin: 0;
}
.example-user-input{
margin-top: 50px;
}
.basic-container {
  padding: 30px;
}
.action {
    margin-left: 20px;
}
.version-info {
  font-size: 8pt;
  margin-left: 20px;
}
