.head {
    display: flex;
    justify-content: space-between;
    z-index: 200;
    top: 0;
    background-color: #0a383d;
    width: 100%;
    height: 35px;
    align-items: center;
    .right-block {
        .dropdown {
            position: relative;
            display: inline-block; 
            &:hover{
                .dropbtn {
                    color: gray;
                }
                .dropdown-content {
                    display: block;
                }
            }
            .dropdown-content { 
                list-style-type:none;
                display: none;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1; 
                li {
                    padding: 2px;
                }
                a {
                    text-decoration: none;
                    color: $default-black;
                    font-size: 16px;
                    font-family: 'Open Sans';
                    margin: 5px; 
                    &:hover{
                        background-color: #ddd;
                    }
                    }
              }
              .dropbtn {
                background-color: transparent;
                color: white;
                padding: 10px;
                font-size: 14px;
                border: none;
                font-family: 'Open Sans';
              }
          }
    }
    .left-block {
        display: flex; 
        .lists{
            margin-right: 35px;
            a {
                color: $default-white;
                transition: 0.3s;
                font-size: 14px;
                align-items: center;
                display: flex;
                margin-left: 0px; 
                font-family: 'BPG Excelsior DejaVu 2010';
                span {
                    margin-left: 10px;
                    margin-top: 1px;
                }
                img {
                    width:15px;
                    cursor: pointer;
                }
                &:hover{
                    color: $default-yellow;
                    transition: 0.3s;
                }
            }
        }
    }
}



  .dropdown {
    position: relative;
    display: inline-block; 
    &:hover{
        .dropbtn {
            color: gray;
        }
        .dropdown-content {
            display: block;
        }
    }
    .dropdown-content { 
        list-style-type:none;
        display: none;
        position: absolute;
        background-color: #f1f1f1;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1; 
        li {
            padding: 2px;
        }
        a {
            text-decoration: none;
            color: $default-black;
            font-size: 16px;
            font-family: 'Open Sans';
            margin: 5px; 
            &:hover{
                background-color: #ddd;
            }
            }
      }
      .dropbtn {
        background-color: transparent;
        color: white;
        padding: 10px;
        font-size: 14px;
        border: none;
        font-family: 'Open Sans';
      }
  }
  