body {
    padding-top: 120px;
    min-width: 303px;
}
.header {
    width: 100%;
    position: fixed;
    z-index: 100;
	background: $default-white;
	top: 0px;
	height: 120px;
	align-items: center;
    overflow: hidden; 

    .head-child {
         width: 100%;
	     justify-content: space-between;
	     align-items: center;
         padding-top: 30px;
         .logo-a {
             display: flex ;
             align-items: center; 
             .logo-img {
              width:35px; 
            }
            .text {
                width: 160px;
                color: black;
                margin-left: 10px; 
                      span {
                          text-transform: bold; 
                      }
                }
         }
         .finder {
            width: 170px;
            height: 35px;
            background-color: $default-yellowx2;
            @extend .border-radius;
            margin: 15px 15px;
            align-items: center;
            display: flex; 
            position: relative;
            input{
                border: none;
                background-color: transparent;
                top: 3px;
                width: 140px;
                position: absolute;
            }
            ::placeholder {
                color: $default-black;
                font-size: 12px;
            }
         }
    }
    .list {
        margin-left: 20px;
        .home-icon {
            width: 20px;
    vertical-align: middle;
        }
        a {
            font-family: 'BPG Excelsior DejaVu 2010';
            color: #abd2c5;
            transition: 0.3s;
            font-size: 14px;
            transition: 0.3s; 
            margin-left: 15px;
            &:hover {
                color: $default-blue;
                transition: 0.3s;
            }
        }
    }
}




.burger{
    display: none;
	width: 130px;
    height: 110px;
    border-left: 3px solid $default-blue;
    align-items: center;
    justify-content: center;
    position: relative; 
    margin-top: 34px;
    .inside-burger {
       width: 40px;
	   height: 40px;
	   flex-wrap: wrap;
	   overflow: hidden;
       cursor: pointer; 
       margin-top: 40px;
       margin-left: 40px; 
       .rows{
            width: 35px;
            height: 4px;
            background-color: $default-blue;
            display: inline-block;
            transition: transform .3s linear;
            opacity: 1;
            visibility: visible;
        }
        &.active {
            .burger1 {
                position: absolute;
                top: 50%;
                transform: rotate(-45deg);
            }
            .burger2 {
                opacity: 0;
                visibility: hidden;
            }
            .burger3 {
                position: absolute;
                top: 50%;
                transform: rotate(45deg);
            }
        } 
       }
}
.burger-menu {
    transition: .3s;
    position: fixed;
    margin-left: -100%;
    background-color: rgba($color: $default-blue, $alpha: 0.7);
    height:100%;
    top: 120px;
    z-index: 110;
    width: 100%;
    justify-content: center;
    &.active{
        transition: .3s;
        visibility: visible;
        margin-left: 0px;
    }
        .ul {
            display: flex;
            flex-direction: column;
            margin: 0 auto;
            align-items: center;
            margin-top: 40px;
            .list{
                margin-top: 20px;
                margin-left: 0px;
                a {
                    font-family: 'BPG Excelsior DejaVu 2010';
                    font-size: 30px;
                    color: $default-white;
                    transition: 0.3s;
                    &:hover {
                        color: $default-yellowx2;
                        transition: 0.3s;
                    }
                }
               }
               .finder2{
                @extend .border-radius;
                background-color: transparent;
                top: 3px;
                width: 170px; 
                position: relative;
                transform: translateX(15%);
               }
        }
}