@media only screen and (max-width : 1200px){
    .center {
        width: 95%;
    }
     .sail {
        right: -30px;
     }
}
@media only screen and (min-width : 1100px) {
    .burger-menu{
    transition: .3s!important;
    position: absolute!important;
    margin-left: -100%!important;
    background-color: rgba($color: $default-blue, $alpha: 0.7)!important;
    height:100%!important;
    top: 120px!important;
    }
}
@media only screen and (max-width : 1100px) {
    .burger {
        display: block;
    }
    .middle-block {
        display: none;
    }
    .finder {
        display: none;
    }
    .burger {
        display: block!important;
    }
}
@media only screen and (max-width : 1000px){
    .map-child {
        flex-wrap: wrap; 
    }
    .map-child .list {
        flex: 0 1 45%;
    }
    .seilings{
        flex-wrap: wrap;
    }
    .center {
        width: 92%!important;
    }
    .seilings .lists {
        &:nth-child(4){
            margin: 0 auto!important;
        }
    }
    .banner-bottom{
        transform: translateY(-30%)!important;
    }
    .seilings {
        margin-top: 80px!important;
    }
    .banner-section .right {
        padding: 0 29px!important;
    }
}
// @media only screen and (max-width : 800px){
// }
@media only screen and (max-width : 770px) {
    .banner-bottom .left .up .list{
        height: 65px!important;
    }
    .banner-bottom .left .up {
        flex-wrap: wrap;
    }
    .map-child {
        flex-direction: column!important;
        align-items: center;
    }
    .map-child .list {
        margin-top: 30px!important;
        &:nth-child(2){
            margin-top: 120px!important;
        }
    }
    .map-child h2 {
        text-align: center!important;
    }
    .over-view-img .text {
        padding: 140px 10px!important;
    }
    .left-agents {
        width: 100%!important;
        opacity: 0.8;
    }
    .right-agents{
        display: none!important;
    }
    .over-view-img {
        width: 100%!important;
    }
    .for-bq {
        padding: 20px 10px!important;
    }
    .left-agents .img{
        margin-right: 0px!important;
    }
     .banner-bottom{
        transform: translateY(-10%)!important;
    }
}
@media only screen and (max-width : 650px) {
    .banner-section .right {
        padding: 0 25px!important;
    }
    .left-agents .img {
        display: none;
    }
    .seilings .sail{
        right: 100px!important;
    }
    .seilings .lists {
        
            flex: 0 1 100%!important;
            align-items: center!important;
    }
    .banner-bottom{
        transform: translateY(0%)!important;
    }
    .banner-buttons {
        top: 30%!important;
    }
    .banner-bottom .left .down .row{
        width: 90%!important;
        margin: 0 auto!important;
    }
}
@media only screen and (max-width : 580px) {
    .head .left-block .lists a img{
        transition: 0.5s;
        &:hover {
            background-color: $default-white;
            transition: 0.5s;
        }
    }
    .head .left-block .lists a span {
        display: none;
    }
    .map-child {
        justify-content: center;
    }
        .web-map .map-child .list {
            margin-top: 30px;
            flex: 0 1 100%;
            align-items: center;
            font-size: 16px;
            margin-top: 20px;
            margin-bottom: 0px;
        }
        .map-child .list:nth-child(3) {
            margin-top: 0px;
        }
        .map-child a {
            font-size: 16px;
        }
        .center {
            width: 90%!important;
        }
}
@media only screen and (max-width : 470px) {
    .over-banner h1,
    .over-banner h1 .next {
        font-size: 30px!important;
    }
    .over-banner .down-text {
        font-size: 12px!important;
        width: 200px!important;
        margin-top: 5px!important;
    }
     .chating {
        height: 70px!important;
        width: 65px!important;
    }
    .chating .chat-title{
        font-size: 14px!important;
    }
    .chatboxes.active{
        right: 40px!important;
    }
     .over-banner {
        top: 45%!important;
    }
    .burger-menu .ul .list a {
        font-size: 20px!important;
    }
     .btns{
        padding: 8px 3px!important;
        margin: -14px!important;
    }
     .banner-bottom .left .down{
        width: 100%!important;
    }
     .banner-bottom .left .up{
        width: 100%;
    }
     .banner-bottom .left{
        width: 100%!important;
    }
     .banner-bottom {
        flex-wrap: wrap;
    }
    .banner-section .right{
        align-items: center;
        width: 100%!important;
    }
    .seilings {
        margin-top: 260px!important;
    }
}