.web-map { 
    width: 100%;
    background-color: $default-green-bold; 
    .map-child {
        display: flex;
        justify-content: space-between;
        position: relative;
        .title {
            font-family: 'BPG Excelsior Caps DejaVu 2010';
            font-size: 28px;
            color: $default-white;
            padding-top: 60px;
            position: absolute;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
                color: $default-red;
                transition: 0.3s;
            }
        }
        .list {
            margin-top: 120px;
            display: flex;
            flex-direction: column;
            margin-bottom: 50px; 
            &:nth-child(3){
                margin-top: 170px;
            }
            }
             
            h2 {
                font-size: 18px;
                font-family: 'BPG Excelsior Caps DejaVu 2010';
                color: $default-white;
                opacity: 0.5;
                margin-bottom: 30px;
            }
            a {
                color: $default-white;
                margin-bottom: 15px;
                transition: 0.3s;
                font-family: 'BPG Excelsior DejaVu 2010';
                &:hover{
                    transition: 0.3s;
                    color: $default-yellowx2;
                    
                  }
                  .icon {
                      width: 15px;
                      margin-right: 5px;
                  }
        }
    }
}