@font-face {
    font-family: 'HelveticaNeueLTGEO-75Bold';
    src: url('../fonts/HelveticaNeueLTGEO-75Bold.eot');
    src: url('../fonts/HelveticaNeueLTGEO-75Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTGEO-75Bold.svg#HelveticaNeueLTGEO-75Bold') format('svg'),
         url('../fonts/HelveticaNeueLTGEO-75Bold.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTGEO-75Bold.woff') format('woff'),
         url('../fonts/HelveticaNeueLTGEO-75Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'HelveticaNeueLTGEO-55Roman';
    src: url('../fonts/HelveticaNeueLTGEO-55Roman.eot');
    src: url('../fonts/HelveticaNeueLTGEO-55Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HelveticaNeueLTGEO-55Roman.svg#HelveticaNeueLTGEO-55Roman') format('svg'),
         url('../fonts/HelveticaNeueLTGEO-55Roman.ttf') format('truetype'),
         url('../fonts/HelveticaNeueLTGEO-55Roman.woff') format('woff'),
         url('../fonts/HelveticaNeueLTGEO-55Roman.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  

