  @font-face {
    font-family: 'bpg_dejavu_sans';
    src: url('../fonts/bpg_dejavu_sans.eot');
    src: url('../fonts/bpg_dejavu_sans.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bpg_dejavu_sans.svg#bpg_dejavu_sans') format('svg'),
         url('../fonts/bpg_dejavu_sans.ttf') format('truetype'),
         url('../fonts/bpg_dejavu_sans.woff') format('woff'),
         url('../fonts/bpg_dejavu_sans.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  

