<div id="containter">
  <div ng2-carouselamos class="sliders-wrapper"
    [items]="items"
    [width]="885"
    [$prev]="prev"
    [$next]="next"
    [$item]="item"
  >
  </div>
  <ng-template #prev>
    <i class="material-icons" id="left">arrow_back</i>
  </ng-template>


  <ng-template #next>
      <i class="material-icons" id="right">arrow_forward</i>
  </ng-template>


  <ng-template #item let-item let-i="index">
  <div class="items">
    <img class="img"  src="{{  item.name  }}"  >
  </div>
  </ng-template>

</div>


<app-slick></app-slick>


<div class="page-wrapper">
  <a class="btn trigger" href="javascript:;" (click)="popup()">Click Me!</a>
</div>
<div class="modal-wrapper">
    <div class="head">
      <p>
        Kuasdasdsadita 
      </p>
      <a class="btn-close trigger" href="javascript:;">
        <i class="material-icons" (click)="close()" >close</i>
      </a>
    </div>
    <div class="content">
      <p>
        input value is {{'hori' ? even : 'odd'}}
      </p>
  </div>
</div>



<input type="text" id="ins" value="{{inputValue}}" [(ngModel)]="boxes">
<span> {{boxes}} </span>
 <input type="text" value="{{boxes}}" id="">