<!-- Flexbox Testing -->
<section class="scroll">
  <div class="flex-tree-container">
    <ul class="parent">
      <li class="li first-li">
        <div class="history__header">
          <i class="material-icons icon done-icon header__icon">done</i>
          <div class="main__time__date">
            <span class="date"><i class="material-icons date__icons">calendar_today</i> 11/02/2019</span>
            <span class="time"><i class="material-icons date__icons">access_time</i> 12:00</span>
          </div>
          <div class="img">
            <img class="" src="http://bootdey.com/img/Content/avatar/avatar7.png">
          </div>
        </div>
        <ul>
          <li class="li">
            <div class="box">
              <i class="material-icons box-icon icon done-icon">done</i>
              <div class="box__header">
                <span class="title">დასადასტურებლად</span>
                <div class="timing">
                  <span class="time__date"><i class="material-icons date__icons">calendar_today</i> 11/02/2019</span>
                  <span class="time__date"><i class="material-icons date__icons">access_time</i> 12:00</span>
                </div>
              </div>
              <div class="profiles">
                <div class="imgs">
                  <img class="img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                  <img class="img img2" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                  <img class="img img3" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                </div>
                <span class="name">პასუხისმგებლები</span>
              </div>
              <p class="text">გაეცანით ამ დოკუმენტს. გაგვიზიარეთ თქვენი კომენტარი</p>
              <div class="down">
                <span class="dashe"></span>
                <div class="block">
                  <div class="profile">
                    <img class="profile__img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                  </div>
                  <div class="about">
                    <span class="name">ნიკოლოზ დოლიძე</span>
                    <span class="work">00001</span>
                    <div class="timing">
                      <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                        11/02/2019</span>
                      <span class="time__date"><i class="material-icons date__icons">access_time</i> 12:00</span>
                    </div>
                  </div>
                </div>
                <p class="reply">ვეთანხმები მოცემულ დოკუმენტს, ვანიჭებ ნომერს.</p>
                <div class="block">
                  <div class="profile">
                    <img class="profile__img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                  </div>
                  <div class="about">
                    <span class="name">ნიკოლოზ დოლიძე</span>
                    <span class="work">000016</span>
                  </div>
                </div>
              </div>
              <i class="material-icons icon done-icon bottom__icon">done</i>
            </div>
            <ul>
              <li>
                <div class="box">
                  <i class="material-icons box-icon icon timer-icon">av_timer</i>
                  <div class="box__header">
                    <span class="title">დასადასტურებლად</span>
                    <div class="timing">
                      <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                        11/02/2019</span>
                      <span class="time__date"><i class="material-icons date__icons">access_time</i> 12:00</span>
                    </div>
                  </div>
                  <div class="profiles">
                    <div class="imgs">
                      <img class="img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                      <img class="img img2" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                      <img class="img img3" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                    </div>
                    <span class="name">პასუხისმგებლები</span>
                  </div>
                  <p class="text">გაეცანით ამ დოკუმენტს. გაგვიზიარეთ თქვენი კომენტარი</p>
                  <div class="down">
                    <span class="dashe"></span>
                    <div class="block">
                      <div class="profile">
                        <img class="profile__img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                      </div>
                      <div class="about">
                        <span class="name">ნიკოლოზ დოლიძე</span>
                        <span class="work">00001</span>
                        <div class="timing">
                          <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                            11/02/2019</span>
                          <span class="time__date"><i class="material-icons date__icons">access_time</i> 12:00</span>
                        </div>
                      </div>
                    </div>
                    <p class="reply">ვეთანხმები მოცემულ დოკუმენტს, ვანიჭებ ნომერს.</p>
                    <div class="block">
                      <div class="profile">
                        <img class="profile__img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                      </div>
                      <div class="about">
                        <span class="name">ნიკოლოზ დოლიძე</span>
                        <span class="work">000015</span>
                      </div>
                    </div>
                  </div>
                  <i class="material-icons icon done-icon bottom__icon">done</i>
                </div>
              </li>
              <li><p>Grand Child</p></li>
              <li>
                  <p>Grand Child</p>
                  <ul>
                    <li>
                      <div class="box">
                        <div class="box__header">
                          <span class="title">დასადასტურებლად</span>
                          <div class="timing">
                            <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                              11/02/2019</span>
                            <span class="time__date"><i class="material-icons date__icons">access_time</i> 12:00</span>
                          </div>
                        </div>
                        <div class="profiles">
                          <div class="imgs">
                            <img class="img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                            <img class="img img2" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                            <img class="img img3" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                          </div>
                          <span class="name">პასუხისმგებლები</span>
                        </div>
                        <p class="text">გაეცანით ამ დოკუმენტს. გაგვიზიარეთ თქვენი კომენტარი</p>
                        <div class="down">
                          <span class="dashe"></span>
                          <div class="block">
                            <div class="profile">
                              <img class="profile__img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                            </div>
                            <div class="about">
                              <span class="name">ნიკოლოზ დოლიძე</span>
                              <span class="work">00001</span>
                              <div class="timing">
                                <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                                  11/02/2019</span>
                                <span class="time__date"><i class="material-icons date__icons">access_time</i>
                                  12:00</span>
                              </div>
                            </div>
                          </div>
                          <p class="reply">ვეთანხმები მოცემულ დოკუმენტს, ვანიჭებ ნომერს.</p>
                          <div class="block">
                            <div class="profile">
                              <img class="profile__img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                            </div>
                            <div class="about">
                              <span class="name">ნიკოლოზ დოლიძე</span>
                              <span class="work">000014</span>
                            </div>
                          </div>
                        </div>
                        <i class="material-icons icon done-icon bottom__icon">done</i>
                      </div>
                    </li>
                    
                    <li>
                      <div class="box">
                        <div class="box__header">
                          <span class="title">დასადასტურებლად</span>
                          <div class="timing">
                            <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                              11/02/2019</span>
                            <span class="time__date"><i class="material-icons date__icons">access_time</i>
                              12:00</span>
                          </div>
                        </div>
                        <div class="profile">
                          <img class="profile__img"
                            src="https://bestwaterdamagerepairexpertslasvegashenderson.com/wp-content/uploads/2018/11/defaultFemalePP.png">
                          <span class="name">ელენე ორჯონიკიძე</span>
                        </div>
                        <p class="text">გაეცანით ამ დოკუმენტს. გაგვიზიარეთ თქვენი კომენტარი</p>
                        <div class="down">
                          <span class="dashe"></span>
                          <div class="block">
                            <div class="profile">
                              <i class="material-icons profile-icon  timer-icon">av_timer</i>
                              <img class="profile__img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                            </div>
                            <div class="about">
                              <span class="name">ნიკოლოზ დოლიძე</span>
                              <span class="work">00001</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
              </li>
            </ul>
          </li>
          <li>
            <div class="box">
              <div class="box__header">
                <span class="title">დასადასტურებლად</span>
                <div class="timing">
                  <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                    11/02/2019</span>
                  <span class="time__date"><i class="material-icons date__icons">access_time</i>
                    12:00</span>
                </div>
              </div>
              <div class="profile">
                <img class="profile__img"
                  src="https://bestwaterdamagerepairexpertslasvegashenderson.com/wp-content/uploads/2018/11/defaultFemalePP.png">
                <span class="name">ელენე ორჯონიკიძე</span>
              </div>
              <div class="down">
                <span class="dashe"></span>
                <div class="block">
                  <div class="profile">
                    <img class="profile__img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                    <i class="material-icons profile-icon  timer-icon">av_timer</i>
                  </div>
                  <div class="about">
                    <span class="name">ნიკოლოზ დოლიძე</span>
                    <span class="work">000012</span>
                    <div class="timing">
                      <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                        11/02/2019</span>
                      <span class="time__date"><i class="material-icons date__icons">access_time</i>
                        12:00</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
              <ul>
                <li><p>Grand Child</p>
                  <ul>
                    <li class="li">
                      <div class="box err">
                        <div class="box__header">
                          <span class="title">დასადასტურებლად</span>
                          <div class="timing">
                            <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                              11/02/2019</span>
                            <span class="time__date"><i class="material-icons date__icons">access_time</i> 12:00</span>
                          </div>
                        </div>
                        <div class="profile">
                          <img class="profile__img"
                            src="https://bestwaterdamagerepairexpertslasvegashenderson.com/wp-content/uploads/2018/11/defaultFemalePP.png">
                          <span class="name">ელენე ორჯონიკიძე</span>
                        </div>
                        <p class="text">გაეცანით ამ დოკუმენტს. გაგვიზიარეთ თქვენი კომენტარი</p>
                        <div class="down">
                          <span class="dashe"></span>
                          <div class="block">
                            <div class="profile">
                              <i class="material-icons profile-icon  done-icon">done</i>
                              <img class="profile__img" src="http://bootdey.com/img/Content/avatar/avatar7.png">
                            </div>
                            <div class="about">
                              <span class="name">ნიკოლოზ დოლიძე</span>
                              <span class="work">00001</span>
                              <div class="timing">
                                <span class="time__date"><i class="material-icons date__icons">calendar_today</i>
                                  11/02/2019</span>
                                <span class="time__date"><i class="material-icons date__icons">access_time</i>
                                  12:00</span>
                              </div>
                            </div>
                          </div>
                          <p class="reply">ვეთანხმები მოცემულ დოკუმენტს, ვანიჭებ ნომერს.</p>
                        </div>
                        <i class="material-icons icon done-icon bottom__icon">done</i>
                      </div>
                    </li>
                    <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                               <li class="li"> <p>Great Grand Child</p></li>
                  </ul>
                </li>
              </ul>
            </li>
        </ul>
      </li>
    </ul>
  </div>
</section>