.clear {
    clear: both;
}
.space-betwen {
    justify-content: space-between;
}
.flex-center {
    justify-content: center;
}
.width-100{
    width: 100%;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.flex {
    display: flex;
}
.color-white {
    color: white;
}
.color-black {
    color: black;
}
.color-white1 {
    color: white;
}
.bq-color-white {
    background-color: white;
}
.header-bq-color {
    background-color: #F0F2ED;
    widows: 100%;
}
.header-footer-center{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
}
.bq-color-red {
    background-color: #FF0000;
}
.relative {
    position: relative;
}
.center {
    width: 100%;
    max-width: 1900px;
    padding: 0 15px;
    margin: 0 auto;
    display: block;
}
.justify-center {
    justify-content: center;
}


    /*header*/
.burger {
    position: absolute;
    z-index: 300;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    width: 45px;
    right: 30px;
    top: 30px;
    justify-content: flex-end;
    overflow: hidden;
    height: 35px;
    transition: 0.3s;
}
.burger.active .burger1 {
    transform: translate(-50%, -50%);
    margin-top: 15px;
    transform: rotate(-45deg);
    transition: 0.8s;
    background-color: red;
}
.burger.active .logo img{
    width: 200px;
}
.burger.active .burger2 {
    margin-right: -35px;
    transition: 0.3s;

}
.burger.active .burger3 {
    transform: translate(-50%, -50%);
    margin-top: -13px;
    transform: rotate(45deg);
    transition: 0.3s;
    background-color: red;
}


.burger2 {
    width: 35px;
    height: 5px;
    background-color: white;
    display: flex;
    margin:5px 0;
    transition: 0.4s;
}
.burger1,
.burger3 {
    width: 45px;
    height: 5px;
    background-color: white;
    display: flex;
    transition: 0.4s;
}
.click-parent {
    justify-content: center;
    display: flex;
    width: 99%;
}
.click {
    position: absolute;
    width: 100%;
    max-width: 1990px;
    z-index: 40;
    top: 30%;
    display: flex;
    justify-content: space-between;
}

.click-child {
    width: 8%;
    position: relative;
    max-width: 72px;
}
.above-arrow {
    width: 200%;
    height: 100%;
    position: absolute;
    border-radius: 50%;
    background-color: white;
}
.right-arrow {
    position: absolute;
    top: 35%;
    width: 60%;
    right: 18%;
}
.left-arrow {
    position: absolute;
    top: 35%;
    width: 60%;
    left: 18%;
}
    /*header*/

    /*banner*/
.circle {
    border-radius: 50%;
    position: absolute;
    z-index: 40;
}
.banner-small-circle1 {
    width: 2%;
    height: 3.5%;
    top: 35%;
    left: 50%;
    background-color: #FF0000;
}
.banner-small-circle2 {
    width: 2%;
    height: 3.5%;
    background-color: #FF0000;
    top: 60%;
    left: 5%;
}
.banner-small-circle3{
    width: 2%;
    height: 3.5%;
    background-color: #FF0000;
    top: 35%;
    left: 15%;
}
.banner-small-circle4{
    width: 4%;
    height: 7%;
    left: 60%;
    top: 70%;
    background-color: rgba(255,255,255, 0.7);
}
.banner-small-circle5{
    width: 8%;
    height: 14%;
    top: 40%;
    left: 20%;
    background-color: rgba(255,255,255, 0.7);
}
.banner-small-circle6{
    width: 4%;
    height: 7%;
    top: 10%;
    left: 50%;
    background-color: rgba(255,255,255, 0.7);
}
.banner-small-circle7{
    top: 20%;
    left: 62%;
    width: 8%;
    height: 14%;
    background-color: #FFF;
}
.banner-small-circle8{
    width: 3%;
    height: 5%;
    top: 10%;
    left: 76%;
    background-color: rgba(255,0,0, 0.4);
}.banner-small-circle9{
    top: 40%;
    left: 80%;
    width: 3.5%;
    height: 5.5%;
    background-color: rgba(255,0,0, 0.4);
}
.logo-img {
    position: absolute;
    z-index: 10;
    width: 400px;
    height: 220px;
    top: 30px;
    left: 30px;
    background-image: url(../img/logo.svg);
}
.burger-logo-img {
    width: 100%;
    max-width: 400px;
    top: 15px;
    left: 15px;
}
.burger-menu {
    transition: 0.5s;
}
.burger-menu.active {
    display: block;
    position: fixed;
    z-index: 200;
    top: 0;
    width: 100%;
    max-width: 1900px;
    background-color: rgba(255, 255, 255, 0.7);
    height: 100%;
    transition: 0.5s;
}
.burger-menu.active .logo-img {
  background-image: url(../img/red-logo.svg);
}
.burger-menu.active .burger-list {
    display: flex;
    justify-content: center;
    width: 20%;
    flex-wrap: wrap;
    margin: 0 auto;
}
.burger-list {
    padding-top: 10%;
    display: none;

}
.burger-lists:hover {
    background-color: gray;
    transition: 0.5s;
}
.burger-lists {
    font-size: 72px;
    font-family: 'RobotoCondensed-Bold';
    margin-top: 70px;
    text-decoration: none;
    width: 100%;
    display: flex;
    color: black;
    transition: 0.5s;

}
.banner-child {
    position: relative;
    width: 100%;
}
.banner {
    display: block;
    width: 100%;
    max-width: 1900px;
    margin: 0 auto;
}
.banner-img {
    width: 100%;
    max-width: 1920px;
    display: block;
    margin: 0 auto;
}

.vintage-block {
    text-align: right;
    position: absolute;
    z-index: 10;
    right: 5%;
    bottom: 5%;
    color: white;
}
.vintage-up-text {
    font-size: 72px;
    font-family: 'RobotoCondensed-Bold';
}
.vintage-down-text {
    font-size: 40px;
    margin-top: 20px;
    font-family: 'Roboto-Light';
}
      /*banner*/

    /*colector*/
.colection-box {
    width: 99%;
}
.colection-title {
    font-size: 50px;
    display: block;
    margin: 0 auto;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'RobotoCondensed-Bold';
    letter-spacing: 15px;
}
.colection-items {
    width: 380px;
    position: relative;
    margin-right: 30px;
}
.colection-items:last-child{
    margin-right: 0px;
}
.colection-item {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    margin: 0 auto;
}
.colection-items h2 {
    font-size: 50px;
    position: absolute;
    bottom: 15%;
    text-align: center;
    width: 100%;
    font-family: 'RobotoCondensed-Bold';
    letter-spacing: 4px;
}
   /*colector*/
    
.under-colector {
    overflow: hidden;
    width: 100%;
    max-width: 1900px;
    display: block;
    margin: 0 auto;
    position: relative;
    padding-top: 10%;
}
.mountains-parent {
    overflow: hidden;
}
.mountains {
    width: 200%;
    bottom: 1px;
    position: absolute;
}
.road {
    height: 6px;
    transform: translateX(-75%);
    margin-left: 75%;
    position: absolute;
    bottom: 165px;
}
.under-colector .items {
    position: relative;
    height: 200px;
}
.nature {
    width: 100%;
    display: block;
    margin: 0 auto;
    margin-left: 50%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 1px;
}
.car {
    width: 400px;
    margin-left: 65%;
    transform: translateX(-50%);
    position: absolute;
    bottom: 26px;
    animation: anim 5s linear infinite;
}
 @keyframes anim{
    0% {
        transform: translateX(90%);
    }
    100%{
        transform: translateX(-300%);
    }

 }


   /*above-map*/
.contact {
    width: 458px;
    height: 584px;
    background-color: #EBE8DE;
}
.under-contact {
    display: none;
    width: 100%;
}
.contact-title {
    font-size: 50px;
    margin-left: 50px;
    margin-top: -65px;
    font-family: 'RobotoCondensed-Bold';
}
.contact-circle {
    width: 100px;
    position: relative;
    margin-left: 90px;
}
.view-text {
    font-size: 50px;
    margin-left: 110px;
    margin-top: 200px;
    width: 150px;
    text-align: center;
    font-family: 'RobotoCondensed-Bold';
}
.view-text2 {
    font-size: 50px;
    width: 280px;
    text-align: center;
    display: none;
    font-family: 'RobotoCondensed-Bold';
}
.map-ballance {
        width: 100%;
    margin-bottom: -380px;
}
.map-child iframe {
   width: 100%;
   height: 880px;
   max-width: 1900px;
   display: block;
   margin: 0 auto;
}
.above-map {
    position: relative;
    z-index: 20;
    top: -380px;
    display: flex;
    max-width: 1248px;
    width: 100%;
    margin: 0 auto;
}
.social {
    
}
.social-list {
    justify-content: center;
    display: flex;
    margin-top: 30px;
}
.social-imgs {
    width: 50px;
}
.social-lists {
    /*margin-top: 35px;*/
    margin-right: 20px;
}
.touch {
    width: 800px;
    background-color: white;
    padding-bottom: 20px;
    position: relative;
    padding-bottom: 90px;
}
.touch-title {
    font-size: 50px;
    margin-left: 75px;
    margin-top: 50px;
    margin-bottom: 40px;
    font-family: 'RobotoCondensed-Bold';
    letter-spacing: 5px;
}




.form-group {
    margin-top: 10px;
    flex-direction: column;
    background-color: #F2F2F2;
    width: 240px;
}
.form-class {
    flex-direction: column;
    margin-left: 75px;
}
.error-text {
    color: red;
    font-size: 11px;
    margin-top: 5px;
    margin-left: 5px;
    letter-spacing: 1px;
    font-family: 'Roboto-Thin';
}
.input {
    background-color: transparent;
    font-size: 16px;
    padding-left: 40px;
    height: 40px;
    font-family: 'Roboto-Light';
}
.textarea {
    height: 125px;
    width: 200px;
    background-color: #F2F2F2;
    padding-left: 40px;
    font-size: 16px;
    padding-top: 10px;
    border: none;
    font-family: 'Roboto-Light';
}








.chekboxes {
    margin-top: 140px;
    margin-left: -40px;
}
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border: 1px solid black;
    cursor:pointer;
}


.container:hover input ~ .checkmark {
    background-color: #ccc;
}


.container input:checked ~ .checkmark {
    background-color: #2196F3;
}


.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}


.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.cube-checkbox {
    display: flex;
    flex-wrap: wrap;
}
.checkbox-text {
    font-size: 16px;
    font-family: 'RobotoCondensed-Light';
    margin-left: 30px;
    letter-spacing: 1px;
}



.redio-chechbox {
    width: 210px;
    justify-content: space-between;
}
.sec-chekbox-title {
    font-size: 16px;
    margin-top: 115px;
    margin-bottom: 30px;
    font-family: 'RobotoCondensed-Light';
    font-weight: lighter;
    letter-spacing: 2px;
}
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-top: 20px;
  letter-spacing: 1px;
  cursor: pointer;
}
.container-text {
    font-family: 'RobotoCondensed-Light';
    font-size: 16px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
  border: 1px solid black;
  cursor: pointer;
}

.container:hover input ~ .checkmark-radio {
  background-color: #ccc;
}

.container input:checked ~ .checkmark-radio {
  background-color: #2196F3;
}

.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark-radio:after {
  display: block;
}

.container .checkmark-radio:after {
    transform: translate(-50%, -50%);
    top: 49.5%;
    left: 51.1%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
.succes {
    position: absolute;
    bottom: 50px;
    left: 75px;
    font-size: 14px;
    color: #39B54A;
    font-family: 'Roboto-Thin';
}
.send {
    position: absolute;
    bottom: 40px;
    right: 50px;
}
.send-child {
    color: white;
    font-size: 20px;
    font-family: 'RobotoCondensed-Bold';
    letter-spacing: 2px;
    width: 80px;
    height: 40px;
    background: black;
    cursor: pointer;
}
   /*above-map */

.footer {
    width: 95%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 100px;
}
.footer-texts {
  font-family: 'Roboto-Thin';
  margin-top: 10px;
}


@media only screen and (max-width: 1200px) {
  .center {
    width: 95%;
  }
  .logo-img {
   width: 365px;
    height: 200px;
  }
  .burger-lists {
   font-size: 60px;
  }
  .above-map {
    width: 90%;
    /*margin: 0 auto;*/
  }
  .send {
    right: 0px;
  }
}
@media only screen and (max-width: 1025px) {
    .touch {
        margin: 0 auto;
        background-color: #EBE8DE;
    }
    .send {
        right: 50px;
    }
    .contact {
        display: none;
    }
    .map-ballance {
    margin: 0 auto;
    flex-wrap: wrap;
    }
    .view-text2 {
        display: flex;
    }
    .social-imgs {
        margin-top: 0px;
    }
    .footer{
        margin-top: -330px;
    }
    .under-contact {
     justify-content: space-between;
     display: flex;
     margin-top: 20px;
     width: 100%;
     flex-wrap: wrap;
    }
    .center {
        width: 90%;
    }
    .logo-img {
    width: 330px;
    height: 180px;
  }
  .burger-list {
    margin-left: 35%;
  }
  .burger-lists {
   font-size: 50px;
  }
}
@media only screen and (max-width: 995px) {
    .colection-item {
        width: 95%;
        margin:0 20px;
    }
    .send {
     right: 20px;
    }
    .above-map {
        width: 85%;
    }
    .logo-img {
    width: 175px;
    height: 100px;
  }
  .burger-lists {
   font-size: 45px;
   margin-top: 40px;
  }
  .road {
    height: 4px;
  }
  .car {
    width: 300px;
    bottom: 65px;
  }
}
@media only screen and (max-width: 770px) {
    .send {
        right: 10px;
    }
}
@media only screen and (max-width: 670px) {
    .colection-item {
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 auto;
    }
    .colection-title {
        font-size: 36px;
        width: 70%;
    }
    .colection-items {
        margin-bottom: 40px;
        flex:0 1 100%;
        margin-left: 30px;
    }
    .colection-items:last-child {
        margin-right: 30px;
    }
    .touch {
    flex-wrap: wrap;
    width: 99%;
    }
    .sec-chekbox-title {
        margin-top: 20px;
    }
    .chekboxes {
        margin-left: 30px;
        margin-top: 0px;
    }
    .form-class {
        margin-left: 20px;
        width: 96%;
    }
    .form {
        width: 100%;
    }
    .form-group {
        width: 90%;
    }
    .textarea {
        width: 80%;
    }
    .vintage-up-text {
     font-size: 50px;
    }
    .vintage-down-text {
    font-size: 30px;
    }
    .burger-lists {
   font-size: 30px;
  }
  .send {
    left: 20px;
    bottom: 50px;
  }
  .last-texts {
    margin-top: 20px;
  }
  .succes {
    bottom: 5px;
    left: 20px;
  }
}
@media only screen and (max-width: 570px) {
 .center {
    flex-wrap: wrap;
    width: 89%;
 }
 .logo-img {
     width: 110px;
    height: 50px;
 }
 .burger-lists {
   font-size: 20px;
   margin-top: 20px;
  }
  .social {
    margin-top: 20px;
  }
  .social-imgs {
    margin-right: 25px;
  }
  .under-colector .items {
  height: 150px;
  }
  .car {
    top: -44px;
    width: 100px;
  }
  .road {
        width: 100%;
    top: 20px;
  }
}
@media only screen and (max-width: 470px) {
    .burger-lists {
   font-size: 15px;
  }
    .colection-item {
        width: 90%;
    }
    .above-map {
        width: 95%;
    }
    .vintage-up-text {
     font-size: 35px;
    }
    .vintage-down-text {
    font-size: 20px;
    margin-top: 5px;
    }
    .logo-img {
    width: 60px;
    height: 33px;
    }
    .last-texts{
    font-size: 22px;
    }
    .car {
        bottom: 155px;
    width: 100px;
  }
  .road {
    width: 100%;
    bottom: 187px;
  }
  body {
    min-width: 303px;
    /*overflow: hidden;*/
  }
}