<div class="card" >
   <div class="card-header">
       product list {{pageTitle}} 
   </div>
</div>
<div class="card-body">
    <div class="row">
        <div class="col-md-2">filter by:</div>
        <div class="col-md-4">
            <input type="text"
            [(ngModel)]="listFilter">
        </div>
    </div>
    <!-- <div class="row" >
        <div class="col-md-6">
            <h4>filtered by:{{_listFilter}}</h4>
        </div>
    </div> -->
    <div class="table-responsive">
        <table class="table" 
        *ngIf='products && products.length' >
            <ul>
                <li>
                    <button class="btn btn primary" (click)='toggleImage()'>
                        {{showImage ? 'hide' : 'show'}} image
                    </button>
                </li>
                <li>product</li>
                <li>code</li>
                <li>available</li>
                <li>price</li>
                <li>5 star rating</li>
            </ul>

            <ul class="inner" *ngFor="let product of filteredProducts">
                 <li style="min-width:111px;">

                        <img *ngIf="showImage"
                        [src]="product.ImageUrl"
                        [title]="product.productName"
                        [style.width.px]= 'imageWidth'
                        [style.margin.px]="imageMargin">

                </li>
                    
                <li> 
                <a [routerLink]="['/product', product.productId]">
                    {{ product.productName }} 
                </a>
                </li>
                <li> {{ product.productCode | lowercase }} </li>
                <li> {{ product.releasedate }} </li>
                <li> {{ product.price | currency: 'USD': symbol: '1.2-2' }}</li>
                <li style="cursor:pointer;" >
                     <app-star-pm [rating]="product.StarRating"
                      (ratingClicked)="onRatingClicked($event)" ></app-star-pm>
                </li>
            </ul>
        </table>
    </div>
</div>
