@font-face {
    font-family: 'BPG Excelsior Caps DejaVu 2010';
    src: url('../fonts/BPGExcelsiorCapsDejaVu2010.eot');
    src: url('../fonts/BPGExcelsiorCapsDejaVu2010.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BPGExcelsiorCapsDejaVu2010.woff2') format('woff2'),
        url('../fonts/BPGExcelsiorCapsDejaVu2010.woff') format('woff'),
        url('../fonts/BPGExcelsiorCapsDejaVu2010.ttf') format('truetype'),
        url('../fonts/BPGExcelsiorCapsDejaVu2010.svg#BPGExcelsiorCapsDejaVu2010') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BPG Excelsior DejaVu 2010';
    src: url('../fonts/BPG Excelsior DejaVu 2010.eot');
    src: url('../fonts/BPG Excelsior DejaVu 2010?#iefix') format('embedded-opentype'),
        url('../fonts/BPGExcelsiorDejaVu2010.woff2') format('woff2'),
        url('../fonts/BPGExcelsiorDejaVu2010.woff') format('woff'),
        url('../fonts/BPGExcelsiorDejaVu2010.ttf') format('truetype'),
        url('../fonts/BPGExcelsiorDejaVu2010.svg#BPGExcelsiorDejaVu2010') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Semibold.eot');
    src: url('../fonts/OpenSans-Semibold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/OpenSans-Semibold.woff2') format('woff2'),
        url('../fonts/OpenSans-Semibold.woff') format('woff'),
        url('../fonts/OpenSans-Semibold.ttf') format('truetype'),
        url('../fonts/') format('svg');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadPro-Regular.eot');
    src: url('../fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
        url('../fonts/MyriadPro-Regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular.ttf') format('truetype'),
        url('../fonts/') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'fontawesome-webfont';
    src: url('../fonts/bpg-fontawesome-webfont-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-fontawesome-webfont-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-fontawesome-webfont-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-fontawesome-webfont-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-fontawesome-webfont-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-fontawesome-webfont-webfont.svg#bpg_fontawesome-webfont') format('svg'); /* Legacy iOS */
}