$default-blue: #3a676b; 
$default-white: #fff;
$default-black: #000;
$default-red:  #ff0404;
$default-green: #21846b;
$default-yellow: #a7c937;
$default-yellowx2: #fadb14;
$default-green-bold: #153a3d;
$default-green-bold-x2: #0a383d;

//  fonts
$Nino_Mkhedruli_Book: 'BPG Nino Mkhedruli Book';
$Nino_Mkhedruli: 'BPG Nino Mkhedruli';
//  fonts