@import '../variable';

.input {
    border: 1px solid #E0E0E0;
    min-height: 40px;
    border-radius: 8px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 0.1s;

    &:not(.border-0):hover {
        transition: 0.1s;
        border: 4px solid #EFF4FF;
        padding-left: 12px;

    }

    &:not(.border-0):focus {
        transition: 0.1s;
        border: 4px solid #EFF4FF;
        padding-left: 12px;

        color: $black;
    }

    &:not(.border-0).wrong {
        transition: 0.1s;
        border: 4px solid #FFEFEF;
        padding-left: 12px;


    }
}

.search-input-parent {
    min-height: 40px;
    position: relative;

    .search-input {
        border: 2px solid transparent;
        min-height: 40px;
        border-radius: 8px;
        padding-left: 40px;
        padding-right: 15px;
        transition: 0.3s;
        color: $light-text;

        &:not(.border-0):hover {
            transition: 0.3s;
            border: 4px solid #EFF4FF;
            padding-left: 38px;

        }

        &:not(.border-0):focus {
            transition: 0.3s;
            border: 4px solid #EFF4FF;
            background-color: white;
            padding-left: 38px;
            color: $black;
        }

    }

    &::after {
        content: '';
        background-image: url('../img/search-icon.svg');
        background-position: center;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 18px;
        height: 18px;
        position: absolute;
        left: 16px;
        top: 12px;
    }
}