@font-face {
    font-family: 'FiraGOr';
    src: url('../fonts/FiraGOr.eot');
    src: url('../fonts/HelveticaNeueLTGEO-75Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FiraGOr.ttf') format('truetype'),
         url('../fonts/FiraGOr.woff') format('woff'),
         url('../fonts/FiraGOr.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  .firagor {
     font-family: FiraGOr;
  }

