$white: #ffffff;
$black: #000000;
$blue: #375FC9;
$gray:#A4A8B1;
$light-gray:#F4F4F5;
$red:#F03135;
$title:#3C4A62;
$text : #8F9195;







$theme-colors: (
    "white": $white,
    "black": $black,
    'blue': $blue,
    'gray': $gray,
    'light-gray': $light-gray,
    'red': $red,
    'title': $title,
    'text':$text,
);
$number_varriables:(
    '0': 0px,
    '3': 3px,
    '4': 4px,
    '5' : 5px,
    '8': 8px,
    '10': 10px,
    '11': 11px,
    '12': 12px,
    '13': 13px,
    '14': 14px,
    '15': 15px,
    '16': 16px,
    '18': 18px,
    '20': 20px,
    '23': 23px,
    '24': 24px,
    '25': 25px,
    '28': 28px,
    '30': 30px,
    '32': 32px,
    '35': 35px,
    '40': 40px,
    '45': 45px,
    '48': 48px,
    '50': 50px,
    '75': 75px,
    '80': 80px,
    '110': 110px,
    '380': 380px,
);

@each $key,
$value in $theme-colors {
    .bc-#{$key} {
        background-color: $value;
    }
}

@each $key,
$value in $theme-colors {
    .hover-bc-#{$key} {
        &:hover {
            background-color: $value;
        }
    }
}

@each $key,
$value in $theme-colors {
    .c-#{$key} {
        color: $value;
    }
}

@each $key,
$value in $theme-colors {
    .br-c-#{$key} {
        border-color: $value;
    }
}

@each $key,
$value in $theme-colors {
    .c-hover-#{$key} {
        &:hover {
            color: $value;
        }
    }
}

@each $key,
$value in $theme-colors {
    .hover-c-#{$key} {
        &:hover {
            color: $value;
        }
    }
}

@each $key,
$value in $number_varriables {
    .f-#{$key} {
        font-size: $value;
    }
}

@each $key,
$value in $number_varriables {
    .bottom-#{$key} {
        bottom: $value;
    }
}

@each $key,
$value in $number_varriables {
    .left-#{$key} {
        left: $value;
    }
}

@each $key,
$value in $number_varriables {
    .top-#{$key} {
        top: $value;
    }
}

@each $key,
$value in $number_varriables {
    .right-#{$key} {
        right: $value;
    }
}

@each $key,
$value in $number_varriables {
    .width-#{$key} {
        min-width: $value;
    }
}
@each $key,
$value in $number_varriables {
    .height-#{$key} {
        height: $value;
    }
}
@each $key,
$value in $number_varriables {
    .br-#{$key} {
        border-radius: $value;
    }
}

@each $key,
$value in $number_varriables {
    .lh-#{$key} {
        line-height: $value;
    }
}