.input__parent {
    height: 45px;
    background-color: #F7F8FA;
    border-radius: 100px;
    display: flex; align-items: center;
    .icon {
        width: 18px;
        margin-left: 18px;
        margin-right: 13px;
    }
    .input {
        // margin-left: 50px;
        border: none;
        border-left: 1px solid #BBC5D5;
        padding-left: 10px;
        background-color: transparent;
    }
}