<div class="form-group was-validated" [class.was-validated]="firstName.invalid && firstName.touched">
  <label class="control-label" >asdasd</label>
    <input #firstName="ngModel" minlength="3" required type="text" name="firstName" class="form-control"
    [(ngModel)]="model.firstName">
    <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
      first name is <strong>required</strong>
    </div>
  </div>

<div class="form-group" [class.was-valideted]=hasPrimaryLanguageError>
  <label class="control-label">primary language</label>
  <select class="form-control" #primaryLanguage (blur)="validatePrimaryLanguage(primaryLanguage.value)" (change)="validatePrimaryLanguage(primaryLanguage.value)"
   name="primaryLanguage" [(ngModel)]="model.primaryLanguage">

   <option value="default">select a language</option>
   <option *ngFor="let lang of language">{{ lang }}</option>
  </select> 
</div>





<section style="display:flex; justify-content: space-between; margin-top: 40px;">
  <form [formGroup]="messageForm" (ngSubmit)="onSubmit()" style="background-color:#9ad6d3;max-width: 300px;border-radius: 20px; padding:20px;">
                       <h1>Contact us</h1>         
    <h5 style="color:#06cc06;" *ngIf="success">Your form is valid!</h5>

          <label>
            Name:
            <input type="text" formControlName="name">
            <div *ngIf="submitted && messageForm.controls.name.errors" class="error">
              <div *ngIf="messageForm.controls.name.errors.required">Your name is required</div>
            </div>
          </label>
        
          <label>
            Message:
            <textarea formControlName="message"></textarea>
            <div *ngIf="submitted && messageForm.controls.message.errors" class="error">
              <div *ngIf="messageForm.controls.message.errors.required">A message is required</div>
            </div>
          </label>

          <input type="submit" value="Send message" class="cta">
          <button [disabled]=" messageForm.pristine || !messageForm.valid" class="btn cta btn-primary">Send message</button>
          
    
            <div *ngIf="submitted" class="results">
        <strong>Name:</strong> 
        <span>{{ messageForm.controls.name.value }}</span>

        <strong>Message:</strong> 
        <span>{{ messageForm.controls.message.value }}</span>
  </div>
    </form>

<div class="material-forms" style="max-width:300px; background-color:#d8cecd; border-radius: 20px; padding:20px;">
  <form [formGroup]="firstFormGroup">
    <mat-form-field>
      <input matInput placeholder="First name" formControlName="firstCtrl" required>
    </mat-form-field>
  </form>


  <form [formGroup]="secondFormGroup">
    <mat-form-field>
      <input matInput placeholder="Last name" formControlName="secondCtrl" required>
    </mat-form-field>
  </form>

    <form [formGroup]="thirdFormGroup">
      <mat-form-field>
        <input matInput placeholder="address" formControlName="thirddCtrl" required>
      </mat-form-field>
    </form>

    <form [formGroup]="fourFormGroup">
        <mat-form-field>
          <input matInput placeholder="number" formControlName="fourCtrl" required>
        </mat-form-field>
      </form>
  </div>


  <form  [formGroup]="userFormGroup" style="max-width:300px; background-color:slategrey;border-radius: 20px; padding:20px;">
    <div class="form-group">
        <label>New Password</label>
        <input type="password" formControlName="password" class="form-control"  />
    </div>
    <div class="form-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control"  />
    </div>
    <button [disabled]=" userFormGroup.pristine || !userFormGroup.valid" class="btn btn-primary">Submit</button>
    </form>
  </section>





<div class="container" style="background-color:#9a9a9a; border-radius: 20px; margin-top: 20px;">
 <h3>angular 2 forms </h3>
 <form #form="ngForm">

    <div class="form-group " [class.was-validated]="firstName.invalid && firstName.touched">
        <label class="control-label" >asdasd</label>
          <input #firstName="ngModel" minlength="3" required type="text" name="firstName" class="form-control" placeholder="firstname"
          [(ngModel)]="model.FirstName">
          <div *ngIf="firstName.invalid && firstName.touched" class="alert alert-danger">
            first name is <strong>required</strong>
          </div>
        </div>

   <div class="form-group " [class.was-validated]="LastName.invalid && LastName.touched">
      <label for="Lname" class="control-label">Last Name</label>
       <input type="text" #LastName="ngModel" id="Lname" class="form-control" placeholder="Last name" name="LastName" minlength="3" required
       [(ngModel)]="model.LastName">
       <div *ngIf="LastName.invalid && LastName.touched" class="alert alert-danger">
          last name is <strong>required</strong>
       </div>
    </div>

    <div class="checkbox" [class.was-validated]="isFulltime.invalid">
      <label style="display: flex; align-items: center">
        <input style="width:20px;" #isFulltime="ngModel" required type="checkbox" name="isFulltime" [(ngModel)]="model.isFulltime">full time employee
        <div *ngIf="isFulltime.invalid" class="alert alert-danger">
            checkbox is <strong>required</strong>
         </div>
      </label>
    </div>



    <label style="display: flex;
    align-items: center">payment type</label>
<div class="radio" style="display: flex;">
    <div class="radio"[class.was-validated]="paymentType.invalid">
      <label>
        <input #paymentType="ngModel" required [(ngModel)]="model.paymentType"  type="radio" name="paymentType" value="w2" 
        [(ngModel)]="model.paymentType">
      </label>
    </div>

    <div class="radio"[class.was-validated]="paymentType.invalid">
        <label>
          <input  #paymentType="ngModel" required [(ngModel)]="model.paymentType" type="radio" name="paymentType" value="19"
          [(ngModel)]="model.paymentType">
        </label>
      </div>
</div>
      
<div class="form-group" [class.bq-red]="hasPrimaryLanguageError">
    <label class="control-label">primary language</label>
    <select class="form-control" #primaryLanguage (blur)="validatePrimaryLanguage(primaryLanguage.value)" 
     name="primaryLanguage" [(ngModel)]="model.primaryLanguage" #primaryLanguage (change)="validatePrimaryLanguage(primaryLanguage.value)">
  
     <option value="default">select a language</option>
     <option *ngFor="let lang of languages">{{ lang }}</option>
    </select>   
</div>
   <button style="margin-top:20px;" class="btn btn-primary" type="submit" [disabled]="form.invalid">ok</button>
   <h2> {{ form.valid }} </h2>
 </form>
model: {{ model | json }}
<br>
angular: {{ form.value | json }}
</div>


  <div class="form-group-test">
    <label for="input">input label</label>
    <input id="input" type="text">
  </div>
  
  
  

  
  <mat-form-field class="parent">
      <label for="input">input label</label>
    <input class="test-input"  matInput >
  </mat-form-field>

    <!-- 
  <mat-form-field color="red" class="intput-parent">
    <input class="test-input" matInput placeholder="asas" >
  </mat-form-field> -->
  