
@font-face {
    font-family: 'BPG Glaho WEB Caps';
    src: url('../fonts/bpg-glaho-web-caps-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-glaho-web-caps-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-glaho-web-caps-webfont.woff2') format('woff2'),  Super Modern Browsers 
         url('../fonts/bpg-glaho-web-caps-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-glaho-web-caps-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-glaho-web-caps-webfont.svg#bpg_glaho_web_capsregular') format('svg'); /* Legacy iOS */
}

@font-face {
    font-family: 'BPG Nino Mkhedruli Book';
    src: url('../fonts/bpg-nino-mkhedruli-book-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-mkhedruli-book-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-mkhedruli-book-webfont.woff2') format('woff2'),  Super Modern Browsers 
         url('../fonts/bpg-nino-mkhedruli-book-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-mkhedruli-book-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-mkhedruli-book-webfont.svg#bpg_nino_mkhedruli_bookregular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'BPG Nino Mkhedruli';
    src: url('../fonts/bpg-nino-mkhedruli-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-mkhedruli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-mkhedruli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nino-mkhedruli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-mkhedruli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-mkhedruli-webfont.svg#bpg_nino_mkhedruliregular') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'BPG Nino Mtavruli';
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot'); /* IE9 Compat Modes */
    src: url('../fonts/bpg-nino-mtavruli-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/bpg-nino-mtavruli-webfont.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-webfont.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/bpg-nino-mtavruli-webfont.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/bpg-nino-mtavruli-webfont.svg#bpg_nino_mtavruliregular') format('svg'); /* Legacy iOS */
}