// .clear {
// 	clear: both;
// }
// .space-betwen {
// 	justify-content: space-between;
// }
// .flex-center {
// 	justify-content: center;
// }
// .width-100{
//     width: 100%;
// }
// .float-left {
// 	float: left;
// }
// .float-right {
// 	float: right;
// }
// .flex {
// 	display: flex;
// }
// .color-white {
// 	color: white;
// }
// .color-black {
// 	color: black;
// }
// .color-white1 {
// 	color: white;
// }
// .bq-color-white {
// 	background-color: white;
// }
// .header-bq-color {
// 	background-color: #F0F2ED;
// 	widows: 100%;
// }
// .header-footer-center{
// 	width: 100%;
// 	max-width: 1300px;
// 	margin: 0 auto;
// }
// .bq-color-red {
//     background-color: #FF0000;
// }
// .relative {
// 	position: relative;
// }
.center {
	width: 100%;
	max-width: 1088px;
	margin: 0 auto;
	display: block;
}

.scroll-center {
	width: 100%;
	max-width: 1088px;
	margin: 0 auto;
	display: block;
}

// .justify-center {
// 	justify-content: center;
// }
.dropdown {
	&.show {
		.btn {
			&::after {
				transition: 0.3s;
				transform: rotate(-180deg);
			}
		}
	}

	.btn {
		&::after {
			transition: 0.3s;
		}
	}
}

.transition {
	transition: 0.3s;
}

.pointer {
	cursor: pointer;
}

.helvetica-55 {
	font-family: HelveticaNeueLTGEO-55Roman;
}

.helvetica-75 {
	font-family: HelveticaNeueLTGEO-75Bold;
}

.br-tl {
	border-top-left-radius: 8px;
}

.br-tr {
	border-top-right-radius: 8px;
}

.br-bl {
	border-bottom-left-radius: 8px;
}

.br-br {
	border-bottom-right-radius: 8px;
}

.m-h-def {
	min-height: calc(100vh - 480px);
}

.m-h-def-2 {
	min-height: calc(100vh - 570px);
}

a {
	&:hover {
		text-decoration: none;
	}
}

.border-bottom {
	border-bottom: 1px solid #3b4755;
}

.border-top {
	border-top: 1px solid #EEEEEE;
}

* {
	outline: none !important;
	word-break: initial !important;

}
.text-break {
	word-break: break-all !important;
}
.f-12 {
	line-height: 16px;
}

.f-14 {
    line-height: 20px;
}

.f-16 {
    line-height: 19px;
}
.f-18 {
	line-height: 21px;
}

.f-20 {
    line-height: 24px;
}

.f-30 {
    line-height: 40px;
}

.f-40 {
    line-height: 53px;
}