$mobile-portrait: 320px;
$mobile-landscape: 940px;

$tablet-portrait: 750px;
$tablet-landscape: 940px;

@mixin mobile {
	@media screen and (max-width: $mobile-landscape) and (min-width: $mobile-portrait) {
		@content;
	}
}

@mixin tablet {
	@media screen and (max-width: $tablet-landscape) and (min-width: $tablet-portrait) {
		@content;
	}
}