$orange : #FF5D31;
$yellow : #FFCD00;
$dark: #2c2e2b;
$white: #ffffff;
$black: #000000;
$purple: #9F33FF;
$blue: #22AAFF;
$border : #E2E2E2;
$banner-color: #F5F9FF;
$green : #37B34A;
$light-text: #9E9E9E;
$dark-text: #808080;

// $dark-green : #1e4e4b;
// $green-text : #1bd3a0;
// $light-red: #e30b01;
// $dark-red: #980000;
// $banner-light: #516780;
// $violet: #403e65;









$theme-colors: ( //   "brown": $brown,
    //   'light': $light-color,
    //   'lightx-2': $light-color-x2,
    //   'lightx-3': $light-color-x3,
    'orange': $orange,
    'yellow': $yellow,
    'dark': $dark,
    "white": $white,
    "black": $black,
    'purple': $purple,
    'blue': $blue,
    'border': $border,
    'banner': $banner-color,
    'green': $green,
    'light-text': $light-text,
    'dark-text': $dark-text,


    // 'dark-red': $dark-red,
    // 'dark-green': $dark-green,
    // 'green-text': $green-text,
    // 'banner-light': $banner-light,
    // 'violet': $violet,

);
$number_varriables:('5' : 5px,
    '10': 10px,
    '11': 11px,
    '12': 12px,
    '13': 13px,
    '14': 14px,
    '15': 15px,
    '16': 16px,
    '18': 18px,
    '20': 20px,
    '23': 23px,
    '24': 24px,
    '30': 30px,
    '35': 35px,
    '40': 40px,
    '50': 50px,
    '80': 80px,
);

@each $key,
$value in $theme-colors {
    .bc-#{$key} {
        background-color: $value;
    }
}

@each $key,
$value in $theme-colors {
    .hover-bc-#{$key} {
        &:hover {
            background-color: $value;
        }
    }
}

@each $key,
$value in $theme-colors {
    .c-#{$key} {
        color: $value;
    }
}

@each $key,
$value in $theme-colors {
    .c-hover-#{$key} {
        &:hover {
            color: $value;
        }
    }
}

@each $key,
$value in $theme-colors {
    .hover-c-#{$key} {
        &:hover {
            color: $value;
        }
    }
}

@each $key,
$value in $number_varriables {
    .f-#{$key} {
        font-size: $value;
    }
}

@each $key,
$value in $number_varriables {
    .br-#{$key} {
        border-radius: $value;
    }
}

.border-bottom {
    border-bottom: 1px solid #3b4755;
}
.border-top {
    border-top: 1px solid #EEEEEE;
}

.blue-button {
    padding: 11px 15px;
    font-size: 14px;
    background-color: #6595FF;
    transition: 0.3s;
    border: none;
    color: white;
    border-radius: 10px;

    &:hover {
        background-color: rgba(101, 149, 255, 0.7);
        transition: 0.3s;
        // opacity: 0.7;
    }
}
.purple-button {
    padding: 11px 15px;
    font-size: 14px;
    background-color: #9F33FF;
    transition: 0.3s;
    border: none;
    color: white;
    border-radius: 10px;

    &:hover {
        background-color: rgba(159, 51, 255, 0.7);
        transition: 0.3s;
        // opacity: 0.7;
    }
}
.blue-hover-button {
    padding: 11px 15px;
    font-size: 14px;
    background-color: $white;
    transition: 0.3s;
    border: none;
    color: $blue;
    border: 1px solid $blue;
    border-radius: 10px;
    height: 40px;
    &:hover {
        background-color: $blue;
        color: $white;
        transition: 0.3s;
        // opacity: 0.7;
    }
}
.orange-hover-button {
    padding: 11px 15px;
    font-size: 14px;
    background-color: $white;
    transition: 0.3s;
    border: none;
    color: $orange;
    border: 1px solid $orange;
    border-radius: 10px;
    height: 40px;
    &:hover {
        background-color: $orange;
        color: $white;
        transition: 0.3s;
        // opacity: 0.7;
    }
}
.yellow-hover-button {
    padding: 11px 15px;
    font-size: 14px;
    background-color: $white;
    transition: 0.3s;
    border: none;
    color: $yellow;
    border: 1px solid $yellow;
    border-radius: 10px;
    height: 40px;
    &:hover {
        background-color: $yellow;
        color: $white;
        transition: 0.3s;
        // opacity: 0.7;
    }
}
.purple-hover-button {
    padding: 11px 15px;
    font-size: 14px;
    background-color: $white;
    transition: 0.3s;
    border: none;
    color: $purple;
    border: 1px solid $purple;
    border-radius: 10px;
    height: 40px;
    &:hover {
        background-color: $purple;
        color: $white;
        transition: 0.3s;
        // opacity: 0.7;
    }
}
.input {
    border: 1px solid #E0E0E0;
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    padding-right: 15px;
}